// Overwrite semantic-ui
#widget-container .ui.grid>.row {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
#selections-modern-container .ui.disabled.input, .ui.input:not(.disabled) input[disabled] {
  opacity: 1;
}