// Overwrite semantic-ui
#widget-container .ui.grid>.row {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
#selections-modern-container .ui.disabled.input, .ui.input:not(.disabled) input[disabled] {
  opacity: 1;
}
#selections-modern-container .ui.corner.label {
  width: 2.8em;
  padding-top: 2px;
}
#selections-modern-container > div:nth-child(2) > div > div.visible.menu.transition {
  max-height: 150px!important;
}
#selections-modern-container > div:nth-child(2) > div.selection.dropdown {
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
}
#selections-modern-container > div:nth-child(2) {
  padding-left: 0;
}
#selections-modern-container > div:nth-child(1) > div > input[type=text] {
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
}
#selections-modern-container > div:nth-child(1) {
  padding-right: 0;
}